__pycache__/
.env
*.pyc
data/
airflow/logs/
spark-warehouse/
# игнорировать автосохранённые ноутбуки Airflow
airflow/dags/.ipynb_checkpoints/

# ignore Jupyter checkpoints in DAGs
airflow/dags/.ipynb_checkpoints/
airflow/dags/__pycache__/
.env

# env secrets
.env

airflow/dags/.ipynb_checkpoints/
airflow/dags/__pycache__/
airflow/dags/.airflowignore
.env
.env.*
*.env
*.key
__pycache__/
.DS_Store
