# env & secrets
.env
*.env
.env.*.local
.envrc

# airflow
logs/
*/logs/
**/logs/
data/
*/data/
__pycache__/
*.pyc

# venv & IDE
.venv/
venv/
.idea/
.vscode/
.DS_Store
.ipynb_checkpoints/

# build
dist/
build/

# clickhouse / postgres named volumes (на всякий)
pg_data/
ch_data/

# Jupyter
.ipynb_checkpoints/
