__pycache__/
.env
*.pyc
data/
airflow/logs/
spark-warehouse/
# игнорировать автосохранённые ноутбуки Airflow
airflow/dags/.ipynb_checkpoints/

# ignore Jupyter checkpoints in DAGs
airflow/dags/.ipynb_checkpoints/
airflow/dags/__pycache__/
.env

# env secrets
.env

airflow/dags/.ipynb_checkpoints/
airflow/dags/__pycache__/
airflow/dags/.airflowignore
.env
.env.*
*.env
*.key
__pycache__/
.DS_Store

# Local env & secrets
.env

# Docker volumes / data / logs
logs/
data/
postgres_data/
clickhouse_data/
kafka_data/
zookeeper_data/
superset_home/

# Python junk
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store
